@font-face {
    font-family: 'Roboto-Bold';
    src: url('./Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('./Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('./Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'RockSalt-Regular';
    src: url('./RockSalt-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'RubikMonoOne-Regular';
    src: url('./RubikMonoOne-Regular.ttf') format('truetype');
    font-style: bold;
    font-weight: bold;
}