.about {

    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    margin: 100px auto 50px;
    height: 300px;

    &__content {
        box-sizing: border-box;
        padding: 15px;
        width: 100%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
       



        &-heading {
            margin-top: 0;
            font-size: 25px;
            font-weight: 900;
            font-family: "RubikMonoOne-Regular", monospace;

        }

        &-data {
            width: fit-content;

            margin: 5px 0;

          

            &-link {

                text-decoration: none;
                transition: all .2s;
                color: var(--col-grey);

                &:hover {
                    color: var(--col-red);
                }
            }

            &-type {
                margin: 0;
                font-weight: 700;
                font-size: 20px;
            }
        }



        &-links {
            display: flex;
            gap: 10px;

            &-el {
                width: 30px;
                height: 30px;
                background-position: center;
                background-size: contain;

                &:hover {
                    opacity: 0.7;
                }


            }
        }




    }
}

@media screen and (max-width: 400px) {}