.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    top: 0;
    display: flex;
    flex-direction: column;

    &__stars {
        background-image: url('./assets/stars.png');
        background-position: top;
        background-repeat: repeat-y;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: var(--col-black);
    }

   

    &__sun {
        position: fixed;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.5);
        top: calc(93.75%);
        z-index: 7;

        &-content {
            position: relative;

            &-bright {

                position: absolute;
                width: 100%;
                height: 100%;
                
                top: -0%;
                left: 50%;
                transform: translate(-50%, 0%);
                border-radius: 50%;
                background-color: rgba(196, 61, 122, 0.90);
                box-shadow: 0px 0px 47px 36px rgba(196, 61, 122, 0.90);
                z-index: 6;

            }

            &-data {
                z-index: 7;
                position: relative;


            }
        }


    }


}