@import '../node_modules/normalizecss/normalize.css';
.grid-section {
  max-width: var(--max-width);
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
  min-height: 60vh;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 15px;
  transition: all 0.5s;
  position: relative;
}
.grid__el {
  width: 50%;
  max-width: 377px;
  height: 300px;
}
.grid__el-position {
  top: 0;
  left: 0;
  position: absolute;
  width: 50%;
  height: 300px;
  transition: all 0.5s;
}
.grid__el-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 5px solid var(--col-red);
  border-radius: 2px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.grid__el-preloader {
  margin: auto;
}
.grid__el:hover .grid__el-desc {
  transform: translateY(85%);
}
.grid__el_active {
  max-width: 770px;
  width: 100%;
  bottom: 0;
}
.grid__el_active .grid__el-img {
  margin-left: auto;
  width: calc(40% + 5px);
}
.grid__el_active .grid__el-desc {
  top: -2px;
  transform: translateY(0) !important;
  max-width: 60%;
  bottom: 0;
  height: calc(100% + 5px);
}
.grid__el_active .grid__el-desc-content {
  box-sizing: border-box;
}
.grid__el_active .grid__el-date {
  padding-left: 130px;
}
.grid__el_active .grid__el-desc-content-heading-link {
  color: black;
  height: 100%;
  text-wrap: nowrap;
  width: max-content;
  display: block;
  transition: all 0.2s;
}
.grid__el_active .grid__el-desc-content-heading-link:first-of-type {
  margin-left: auto;
}
.grid__el_active .grid__el-desc-content-heading-link:hover {
  opacity: 0.7;
}
.grid__el_active .grid__el-desc-content-heading-name:hover {
  position: absolute;
}
.grid__el-date {
  z-index: 2;
  position: absolute;
  top: -4px;
  width: 100%;
  height: 44px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  transition: all 0.5s;
}
.grid__el-date-data {
  font-size: 13px;
  margin: 0;
  color: var(--col-grey-light);
}
.grid__el-showMore-btn {
  color: white;
  z-index: 7;
  overflow: hidden;
  height: 40px;
  width: 100px;
  padding: 0;
  border: none;
  font-size: 14px;
  background-color: var(--col-purple);
  border-left: 2px solid var(--col-red);
  border-bottom: 2px solid var(--col-red);
}
.grid__el-showMore-btn-label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.grid__el-showMore-btn-input {
  position: absolute;
  visibility: hidden;
}
.grid__el-showMore-btn-input:checked + .grid__el-showMore-btn-text {
  transform: translateX(25%);
}
.grid__el-showMore-btn-text {
  transition: all 0.5s;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  position: absolute;
  width: 200%;
  transform: translateX(-25%);
}
.grid__el-showMore-btn-text-data {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
.grid__el-showMore-btn-text-data:last-of-type {
  padding-right: 18px;
}
.grid__el-showMore-btn-text-data:last-of-type::after {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  right: 0;
  border: 7.5px solid transparent;
  border-left-color: white;
  content: "";
}
.grid__el-showMore-btn-text-data:first-of-type {
  padding-left: 15px;
}
.grid__el-showMore-btn-text-data:first-of-type::after {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  left: 0;
  border: 7.5px solid transparent;
  border-right-color: white;
  content: "";
}
.grid__el-img {
  z-index: 5;
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: auto;
  transition: all 0.5s;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.grid__el-img-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.grid__el-img-data {
  position: absolute;
  top: 0;
  display: flex;
  max-width: 100%;
  object-position: top;
  object-fit: cover;
}
.grid__el-desc {
  overflow: visible;
  position: absolute;
  z-index: 6;
  bottom: 43px;
  left: -5px;
  transform: translateY(100%);
  height: 100%;
  transition: all 0.5s;
  width: calc(100% + 5px);
  max-width: 456px;
}
.grid__el-desc-lang {
  background-color: #2c1853;
  color: black;
  margin-top: auto;
  border-radius: 0 5px 0 0;
  border: none;
  padding: 5px 10px;
  border-top: 2px solid var(--col-red);
  border-right: 2px solid var(--col-red);
  width: fit-content;
  min-width: 100px;
  color: black;
  position: relative;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.grid__el-desc-lang::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: -6px;
  left: 0;
  background-color: #2c1853;
}
.grid__el-desc-lang-data {
  text-align: center;
  margin: 0;
}
.grid__el-desc-content {
  background-color: var(--col-purple);
  background-size: 99%;
  color: black;
  padding: 0 0 0 0;
  border-top: 2px solid var(--col-red);
  border-right: 2px solid var(--col-red);
  height: calc(100% - 40px);
  width: 100%;
}
.grid__el-desc-content-heading {
  display: flex;
  letter-spacing: 2px !important;
  gap: 20px;
  align-items: baseline;
  padding: 9px 15px;
  position: relative;
  box-shadow: 0px 10px 10px 0px var(--col-red);
}
.grid__el-desc-content-heading-name {
  margin: 0 0 0 0;
  color: black;
  text-decoration: none;
  position: relative;
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px !important;
}
.grid__el-desc-content-heading-link {
  font-size: 15px !important;
  display: none;
  text-decoration: none;
}
.grid__el-desc-content-body {
  padding-right: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  height: inherit;
  padding-left: 15px;
  color: rgb(243, 240, 240);
  padding-bottom: 30px;
  box-sizing: border-box;
}
.grid__el-desc-content-link {
  text-decoration: none;
  transition: all 0.2s;
}
.grid__el-desc-content-link:hover {
  opacity: 0.7;
}
.grid__el-error-save a {
  color: var(--col-grey-light);
}

.grid__el-desc-content-body::-webkit-scrollbar {
  width: 10px;
}

.grid__el-desc-content-body::-webkit-scrollbar-track {
  background-color: rgba(201, 194, 241, 0.527);
  border-radius: 20px;
}

.grid__el-desc-content-body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(45, 0, 128);
}

.grid__el-img::-webkit-scrollbar {
  width: 10px;
}

.grid__el-img::-webkit-scrollbar-track {
  background-color: rgba(201, 194, 241, 0.527);
  border-radius: 20px;
}

.grid__el-img::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(45, 0, 128);
}

@media screen and (max-width: 830px) {
  .grid__el {
    width: 100%;
    max-width: 100%;
  }
  .grid__el:hover .grid__el-desc {
    transform: translateY(99.5%);
  }
  .grid__el-desc {
    transform: translateY(99.5%);
    transition: all 0.5s;
  }
  .grid__el_active {
    height: 80vh;
    max-height: 600px;
  }
  .grid__el_active .grid__el-desc {
    top: 0;
    transform: translateY(40%) !important;
    left: 0;
    max-width: calc(100% + 5px);
  }
  .grid__el_active .grid__el-img {
    width: 100%;
    height: 100%;
    max-height: 41%;
    margin: 0;
  }
  .grid__el_active .grid__el-date {
    padding-left: 15px;
  }
  .grid__el-desc {
    max-width: 100%;
  }
}
.preloader,
.preloader:after {
  overflow: hidden;
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.preloader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(248, 101, 248, 0.2);
  border-right: 1.1em solid rgba(248, 101, 248, 0.2);
  border-bottom: 1.1em solid rgba(248, 101, 248, 0.2);
  border-left: 1.1em solid var(--col-red);
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.grid__heading {
  border: 2px solid var(--col-purple);
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.2s;
}
.grid__heading-placeholder {
  width: 100%;
  min-height: 60px;
}
.grid__heading-content {
  max-width: var(--max-width);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 30%));
  grid-auto-rows: auto;
  gap: 10px 0;
  margin: auto;
}
.grid__heading_fixed {
  z-index: 9;
  position: fixed;
  width: 100%;
  left: 0;
  padding: 15px;
  top: 0;
  background-color: var(--col-black);
  border: none;
  border-radius: 0;
  padding: 15px;
}

.grid__filter {
  border: 1px solid var(--col-grey);
  padding: 5px 10px;
  height: 100%;
  max-height: 30px;
  width: 100%;
  min-width: 150px;
  max-width: 200px;
  background-color: var(--col-purple);
  transition: all 0.2s;
  box-sizing: border-box;
}
.grid__filter-sort {
  max-width: 180px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--col-purple);
  color: var(--col-grey-light);
  font-size: 13px;
}
.grid__filter-sort:focus {
  outline: none;
  border-color: var(--col-grey-light);
}
.grid__filter-find {
  display: flex;
}
.grid__filter-find-input {
  border-radius: 10px 0 0 10px;
  color: white;
  position: relative;
  z-index: 5;
  font-size: 13px;
}
.grid__filter-find-input:focus {
  outline: none;
  border-color: var(--col-grey-light);
}
.grid__filter-find-btn-reset {
  position: relative;
  transform: translateX(-110%);
  transition: all 0.2s;
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 4;
  height: 100%;
  width: 30px;
  transition: all 0.2s;
  cursor: pointer;
}
.grid__filter-find-btn-reset_active {
  transform: translateX(0%);
}
.grid__filter-find-btn-reset::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 100%;
  background-color: var(--col-grey-light);
  transform: translateY(-50%) rotate(-45deg);
  transform-origin: center;
}
.grid__filter-find-btn-reset::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 100%;
  background-color: var(--col-grey-light);
  transform: translateY(-50%) rotate(45deg);
  transform-origin: center;
}

.grid__info {
  height: 100%;
  margin-left: 15px;
}
.grid__info-data {
  color: var(--col-grey-light);
  margin: 0;
  font-size: 13px;
  width: 100%;
  text-align: left;
  transition: all 0.5;
  min-height: 13px;
  white-space: nowrap;
}
@media screen and (max-width: 810px) {
  .grid__heading_fixed {
    z-index: 9;
    position: relative;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    transform: translateX(0);
    background-color: var(--col-black);
    border-radius: 20px;
    border: 2px solid var(--col-black-light);
    padding: 10px;
  }
  /* .grid__filters{
      flex-direction: column;
      gap: 15px;
  } */
}
.footer {
  margin-top: auto;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__container {
  max-width: 100px;
}
.footer__container-author {
  color: var(--col-black-light);
}
.footer__container-author-link {
  color: var(--col-red);
  text-decoration: none;
  transition: all 0.2s;
  opacity: 0.5;
}
.footer__container-author-link:hover {
  opacity: 1;
}

.header {
  width: 100%;
  height: 100px;
}
.header__container {
  height: 100%;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  border-bottom: 1px solid var(--col-purple);
  box-sizing: border-box;
  padding: 18px;
}
.header__logo {
  width: fit-content;
  transform: rotate(-30deg);
  transform-origin: left center;
  width: fit-content;
  /*      border-left: 5px solid var(--col-red);
  border-bottom: 5px solid var(--col-red);
  box-shadow: -6px 6px 14px -2px var(--col-red); */
  height: 180px;
  width: 300px;
  position: relative;
}
.header__logo-main {
  display: flex;
  flex-direction: column;
  transform: rotate(30deg) translate(10px, 70%);
  width: 100%;
  transition: all 0.5s;
  position: absolute;
  top: 30px;
  left: 0px;
}
.header__logo-main-data {
  z-index: 7;
  font-size: 30px;
  margin: 0;
  transition: all 0.5s 1s;
  width: fit-content;
  line-height: 30px;
  text-wrap: nowrap;
  padding-left: 20px;
}
.header__logo-main-data-head {
  display: none;
}
.header__logo-main-data:first-of-type {
  padding-left: 0;
}
.header__logo-main-data:last-of-type {
  color: var(--col-red);
  padding-left: 120px;
}
.header__logo-main-neon {
  z-index: 6;
  background-color: var(--col-red);
  border-radius: 5px;
  box-shadow: 0 0 17px 4px var(--col-red);
  height: 392px;
  left: 50%;
  position: absolute;
  top: -190%;
  transform: rotate(90deg) translateX(-30px) translateY(50px);
  width: 5px;
  animation: neon 10s ease-in-out infinite alternate;
}
.header__logo-main-neon:first-of-type {
  height: 281px;
  transform: rotate(298deg) translateX(-137px) translateY(-65px);
}
.header__logo-main-neon:last-of-type {
  height: 194px;
  transform: rotate(47deg) translateX(148px) translateY(40px);
}
@keyframes neon {
  0% {
    opacity: 0.7;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0.7;
  }
  22% {
    opacity: 1;
  }
  24% {
    opacity: 0.7;
  }
  26% {
    opacity: 1;
  }
  28% {
    opacity: 0.5;
  }
  36% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  98% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 800px) {
  .header__logo {
    top: 0;
    left: 50%;
    transform: rotate(-30deg) translate(-30%, -50%);
  }
}
@media screen and (max-width: 400px) {
  .header__logo {
    top: 0;
    left: 50%;
    transform: rotate(-30deg) translate(-30%, -50%);
  }
  .header__logo-main-data {
    font-size: 20px;
  }
}
.about {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin: 25px auto 50px;
}
.about__content {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.about__content::after {
  z-index: -1;
  position: absolute;
  content: "";
  top: -4%;
  left: -6%;
  min-width: 110%;
  min-height: 110%;
  background-image: url("./assets/paint-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.about__content-heading {
  margin-top: 0;
  font-size: 25px;
  font-weight: 900;
  font-family: "RubikMonoOne-Regular", monospace;
  color: white;
}
.about__content-data {
  width: fit-content;
  margin: 5px 0;
}
.about__content-data-nickname {
  color: var(--col-red);
  font-size: 15px;
  margin-left: 5px;
}
.about__content-data-link {
  color: var(--col-red);
  text-decoration: none;
  transition: all 0.2s;
}
.about__content-data-link:hover {
  color: white;
}
.about__content-data-type {
  margin: 0;
  align-self: center;
  font-weight: 900;
  font-family: "RubikMonoOne-Regular", monospace;
  -webkit-text-stroke: 0.3px #fff;
  color: transparent;
}
.about__content-links {
  display: flex;
  gap: 10px;
}
.about__content-links-el {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
}
.about__content-links-el:hover {
  opacity: 0.7;
}
.about__content-links-el_tg {
  background-image: url("./assets/telegram-circle-blue-logo-16635.svg");
}
.about__content-links-el_gh {
  background-image: url("./assets/github.svg");
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 2px var(--col-red) inset;
}

@media screen and (max-width: 400px) {
  .about__content::after {
    background-image: none;
  }
}
/*  <%=require('')%>  */
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  top: 0;
  background: rgb(7, 24, 59);
  background: linear-gradient(0deg, #030c1d, #af317d 50%, #1b0413);
  display: flex;
  flex-direction: column;
}
.bg__sun {
  /*   margin: 100px auto 0; */
  transition: all 0.1s;
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.bg__grid {
  position: relative;
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  transform-origin: bottom center;
  transform: perspective(500px) rotateX(0deg) translateY(90vh);
}
.bg__grid-el {
  background-image: url("./assets/grid.png");
  position: absolute;
  height: 100%;
  width: 246%;
}
.bg__grid-el:first-of-type {
  left: 50%;
  transform: translateX(calc(-100% + 2px));
  background-position: top right;
}
.bg__grid-el:last-of-type {
  right: 50%;
  transform: translateX(calc(100% - 2px));
}
.bg__city {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  max-height: 60vh;
}
.bg__city-data {
  max-width: 100%;
}

body {
  --max-width: 800px;
  --col-black: rgb(9, 12, 20);
  background-color: var(--col-black);
  color: white;
  --col-yellow: rgb(236, 216, 33);
  --col-green: rgb(34, 228, 131);
  --col-blue: rgb(32, 185, 196);
  --col-black-light: rgb(45, 54, 78);
  --col-red: #e22076;
  --col-purple: #2c1853;
  --col-grey: #586179;
  --col-grey-light: #aab3ca;
  --col-unknown: #d220e2;
  font-family: "Roboto-Regular", Arial, sans-serif;
  position: relative;
}

.grid__el-content,
.grid__heading {
  background-color: rgba(44, 24, 83, 0.3490196078);
  backdrop-filter: blur(10px);
}

.border-yellow {
  border-color: var(--col-yellow);
}

.border-green {
  border-color: var(--col-green);
}

.border-blue {
  border-color: var(--col-blue);
}

.retroWave-head {
  font-family: "RubikMonoOne-Regular", monospace;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.9px;
  background: rgb(245, 204, 227);
  background: linear-gradient(0deg, rgb(245, 204, 227) 0%, rgb(170, 26, 87) 36%, rgb(110, 11, 53) 43%, rgb(211, 235, 245) 50%, rgb(67, 180, 207) 60%, rgb(44, 44, 203) 83%, rgb(209, 223, 235) 98%);
  background-size: 150%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.3px white;
  text-stroke: 0.3px white;
}

.retroWave-marker {
  font-style: italic;
  font-family: "RockSalt-Regular", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}

/*# sourceMappingURL=index.css.map */
